/* Safari specific styles */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    #gameList span input {
      -webkit-overflow-scrolling: auto;
      top: -4px;
    }

    h1, h2 {
      font-weight: normal;
    }

    span, button, li {
      color: rgb(26, 26, 26);
    }
  }
}
