#chat {
  margin-left: 30px;
  display: inline-block;
  width: 100px;
  max-width: 350px; 
  max-height: 100%;
  border: thin green solid;
  border-radius: 5px;
  flex: auto;
}

#chat h2 {
  border: thin indigo solid;
  color: green;
}

#chatPlayer input {
  margin-top: 30px;
}

#chatPlayer .playerSearch:after {
  top: 35px;
}

