#gameList {
  margin-top: 40px;
  width: 100%;
  max-width: 600px;
  height: 500px;
  max-height: 100%;
  border: 1px indigo solid;
  border-radius: 5px;
  overflow-y: auto;
  font-family: sans-serif;
}

#gameList h2 {
  position: absolute;
  margin: -15px 10px;
  padding: 0px 5px 1px;
  display: inline-block;
  font-size: 1.4rem;
  border: thin green solid;
  color: indigo;
  background: white;
  border-radius: 5px;
  font-family: "courier";
}

#gameList ul {
  margin-top: 25px;
}

#gameList li {
  margin-bottom: 5px;
}

#gameList .newGame {
  background: rgba(81,235,80,0.3);
}

#gameList .deletedGame {
  background: rgba(255,82,80,0.51);
}

#gameList .finishedGame {
  background: rgba(190,190,190,0.51);
}

#gameList input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 20px;
  height: 20px;
  font-family: 'sans-serif';
  border-radius: 0;
  position: relative;
  top: 2px;
  cursor: pointer;
}

#gameList .finishCheckBox[type="checkbox"] {
  background: rgb(199, 238, 163);
  border: thin rgb(50, 50, 50) solid;
}

#gameList .finishCheckBox[type="checkbox"]:checked {
  border: thin gray solid;
  background:
    linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 46%,rgb(150, 150, 150) 48%,rgb(150, 150, 150) 52%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 100%),
    linear-gradient(135deg, rgb(240, 240, 240) 0%,rgb(240, 240, 240) 46%,rgb(150, 150, 150) 50%,rgb(150, 150, 150) 53%, rgb(240, 240, 240) 53%,rgb(240, 240, 240) 100%);
}

#gameList .deleteCheckBox[type="checkbox"] {
  font-size: 14px;
  border: none;
}

#gameList .deleteCheckBox[type="checkbox"]:after {
  position: absolute;
  content: '\274c';
  position: absolute;
  color: black;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#gameList .deleteCheckBox[type="checkbox"]:checked {
  border: thin gray solid;
}

#gameList .finished {
  color: gray;
}

#gameList ul span {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  vertical-align: super;
  margin-left: 10px;
}